/*
COLORS

red: #a3282d
lime: #c8c15d

Chapter colors:;
blue: #5a81a0
green: #72944e
orange: #d27e41
---------------------------------------- */

a, #tttop, #footer a:hover {
  color: #a3282d;
}

a:hover, h2, #index a:hover, #index .condensed a:hover, #index .active, #index .condensed .active {
  color: #a3282d;
}
cite, h3, h4, .pullquote {
  font-style: normal;
}

h2, h3, h4 {
  font-family: "museo-1","museo-2",serif;
}

h3, .drop-cap { color: #a3282d; }

.title {
  color: #5a81a0;
  line-height: 1em;
  text-align: left;
}

h3.title {
  margin-left: -53px;
  padding: 13px 20px 0 160px;
  font-size: 21px;
  color: #000;
  height: 69px;
  background-repeat: no-repeat;
  line-height: 1.2em;
}

h3.title span {
  color: #fff;
  display: block;
}

h4 {
  padding-top: 2em;
}

.aside {
  background-color: #eee;
}

.aside > a {
  margin-bottom: 0;
}

.citation {
  border-color: #a48b4a;
}

.pullquote {
  background-color: #5a81a0;
  color: white;
}

.low-light .citation {
  border-color: #3b3b3b;
}

.story-end {
  background: #43685A;
}

#masthead, body, .noscript, #footer, .story-end, .figure img, iframe, .thumb {
  background-color: #a3282d;
}

#cover div {
  top: auto;
}

#cover h2 {
  color: #c8c15d;
}

#article .section.stripe {
  border-top: none;
  border-left: 26px solid #f3f3f4;
  padding-left: 27px;
  padding-bottom: .5em;
  margin-left: -53px;
  margin-bottom: 4em;
}

#footer, .noscript, #footer #details, #footer ul li {
  border-color: #9C3734;
}

#footer {
  color: rgba(255,255,255,.8);
  text-shadow: 0 1px 0 rgba(0,0,0,.4);
}

.external-link {
  background: transparent url(../images/external-link.png) no-repeat right center;
}

.extra-story {
  background-color:#eee;
  padding:25px;
  margin-bottom:3em;
}

.low-light .extra-story {
  background-color:#444;
}

.inside, .extras {
  list-style: none;
}

.carousel {
  position: relative;
  left: -20px;
  padding: 1px 20px;
  margin: 2em 0 3em;
  background: #f5f5f5;
}

.carousel .figure,
.carousel .figure-audio {
  margin: 0;
}

.carousel .caption {
  text-align: center;
  padding-right: 0;
}

.carousel, #carousel, #carousel .viewport, #carousel .overview li {
  width: 580px;
  overflow: hidden;
}

#carousel .viewport, #carousel .overview li {
  height: 435px;
}

#carousel {
  position: relative;
  height: 470px;
  margin: 2em 0;
}

#carousel .viewport { float: left; position: relative; }
#carousel .buttons {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 84px;
  width: 41px;
  background-color: rgba(0, 0, 0, .2);
  background-image: url(../images/arrows.png);
  background-position: 9px center;
  background-repeat: no-repeat;
  border: none;
  text-indent: -999em;
  overflow: hidden;
  z-index: 1;
  opacity: 0.8;
}

#carousel .buttons:hover {
  opacity: 1;
}

#carousel .next {
  left: inherit;
  background-position: -51px center;
  right: 0;
}
#carousel .disable { visibility: hidden; }
#carousel .overview {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}
#carousel .overview li {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
}

#carousel .pager {
  list-style: none;
  clear: both;
  margin: 0;
  padding-top: .5em;
  text-align: center;
}

#carousel .pager li {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
  border: none;
}

#carousel .pager li, #carousel .pagenum {
  width: 15px;
  height: 15px;
}

#carousel .pagenum {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  border: 2px solid #eee;
  background-color: white;
  border-radius: 15px;
}

#carousel .active {
  background-color: #a3282d;
  border-color: white;
}

#carousel .audiojs {
  height: 20px;
}

#two-way-arrows {
  position: absolute;
  left: -52px;
  top: -172px;
  background: url(../images/arrows_large.png);
  width: 132px;
  height: 194px;
}
 
.byline {
  border: none;
  padding: 0 0 1.5em 0;
  margin-bottom: 1.5em;
}

.cut-corner:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  border-width:0 0 50px 50px; /* This trick side-steps a webkit bug */
  border-style:solid;
  border-color: transparent #fff; /* A bit more verbose to work with .rounded too */
  background: transparent; /* For when also applying a border-radius */
  display:block; width:0; /* Only for Firefox 3.0 damage limitation */
}

#extras.section:before,
h3.title:before {
  content:"";
  position:absolute;
  top:0;
  left:-26px;
  border-width:0 0 26px 26px; /* This trick side-steps a webkit bug */
  border-style:solid;
  border-color: transparent #fff; /* A bit more verbose to work with .rounded too */
  background: transparent; /* For when also applying a border-radius */
  display:block; width:0; /* Only for Firefox 3.0 damage limitation */
}

.section:after {
  content:"";
  position:absolute;
  bottom:0;
  left:-26px;
  border-width:0 0 26px 26px; /* This trick side-steps a webkit bug */
  border-style:solid;
  border-color: #fff transparent; /* A bit more verbose to work with .rounded too */
  background: transparent; /* For when also applying a border-radius */
  display:block; width:0; /* Only for Firefox 3.0 damage limitation */
}

#article .section.blue,
#article .section.green,
#article .section.orange {
  padding-top: 0;
}

#article .section.blue {
  border-left-color: #A6C1D2;
}

#article .section.green {
  border-left-color: #ABD39F;
}

#article .section.orange {
  border-left-color: #E9B378;
}

.blue .story-end,
.blue .thumb,
.blue .pullquote {
  background-color: #5a81a0;
}

.blue .drop-cap,
.blue h4 {
  color: #5a81a0;
}

.green .story-end,
.green .thumb,
.green .pullquote {
  background-color: #72944e;
}

.green .drop-cap,
.green h4 {
  color: #72944e;
}

.orange .story-end,
.orange .thumb,
.orange .pullquote {
  background-color: #d27e41;
}

.orange .drop-cap,
.orange h4 {
  color: #d27e41;
}


.blue h3.title {
  background-image: url(../images/header_blue.gif);
}

.green h3.title {
  background-image: url(../images/header_green.gif);
}

.orange h3.title {
  background-image: url(../images/header_orange.gif);
}



.section .aside .expandable, .section .aside .collapsable {
  font-family: "museo-1","museo-2",serif;
  font-size: 18px;
}

.section.blue .aside .expandable {
  background-color: #5a81a0 !important;
  color: #fff !important;
  font-family: "museo-1","museo-2",serif;
}
.section.blue .aside .collapsable {
  background-color: #f3f3f4 !important;
  color: #5a81a0 !important;
  font-family: "museo-1","museo-2",serif;
}
.section.green .aside .expandable {
  background-color: #72944e !important;
  color: #fff !important;
  font-family: "museo-1","museo-2",serif;
}
.section.green .aside .collapsable {
  background-color: #f3f3f4 !important;
  color: #72944e !important;
  font-family: "museo-1","museo-2",serif;
}
.section.orange .aside .expandable {
  background-color: #d27e41 !important;
  color: #fff !important;
  font-family: "museo-1","museo-2",serif;
}
.section.orange .aside .collapsable {
  background-color: #f3f3f4 !important;
  color: #d27e41 !important;
  font-family: "museo-1","museo-2",serif;
}